@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/*font-family: 'Shrikhand', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
/*font-family: 'Roboto', sans-serif;*/
body {
  margin: auto;
  width: 100%;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
}
@media screen and (max-width: 767px) {
  body {
    min-width: 379px;
  }
}

button {
  margin-bottom: 35px;
  border: none;
  border-radius: 35px;
  box-shadow: 5px 5px 6px #e2e2e2;
  color: white;
  cursor: pointer;
}
button:active {
  filter: brightness(1.2);
  box-shadow: 9px 9px 13px #A7A7A7;
}

.btn-like {
  position: relative;
  width: 21px;
  height: 21px;
  font-size: 32px;
}
.btn-like .empty-heart, .btn-like .filled-heart {
  position: absolute;
  top: 0;
  left: 0;
  transition-duration: 250ms;
}
.btn-like .empty-heart {
  opacity: 1;
  transition-property: opacity;
}
.btn-like .filled-heart {
  background: -webkit-linear-gradient(top, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  color: transparent;
  transform: scale(0);
  transition-property: transform;
}
.btn-like:hover .empty-heart {
  opacity: 0;
}
.btn-like:hover .filled-heart {
  transform: scale(1);
}
@media screen and (max-width: 767px) {
  .btn-like {
    font-size: 27px;
  }
  .btn-like:active .empty-heart {
    opacity: 0;
  }
  .btn-like:active .filled-heart {
    transform: scale(1);
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .btn-like:active .empty-heart {
    opacity: 0;
  }
  .btn-like:active .filled-heart {
    transform: scale(1);
  }
}

.email {
  color: white;
  text-decoration: none;
}

footer i {
  margin-right: 10px;
  font-size: 24px;
}

@media screen and (max-width: 767px) {
  .fa-utensils {
    font-size: 17px;
  }
}

.fa-handshake-angle {
  margin-right: 7px;
  font-size: 20px;
}
@media screen and (max-width: 767px) {
  .fa-handshake-angle {
    font-size: 15px;
  }
}

@keyframes hideLoader {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
.loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 999;
}
.loader::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 75px;
  height: 75px;
  border: 15px solid #f7f5f5;
  border-top-color: #9356DC;
  border-radius: 50%;
  animation: loading 1.5s ease;
}
.loader {
  animation: hideLoader 0.15s 1.5s forwards;
}

.header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 50%;
    height: auto;
    margin-top: 25px;
    margin-bottom: 19px;
  }
}

.localisation {
  text-align: center;
  background-color: #e2e2e2;
  box-shadow: inset 0px 3px 0px 0px #dad9d9;
}

.fa-map-marker-alt {
  border: none;
  background-color: #e2e2e2;
  color: #e2e2e2;
}
@media screen and (max-width: 767px) {
  .fa-map-marker-alt {
    color: #2a2a2a;
  }
}

@media screen and (max-width: 767px) {
  form {
    display: block;
    margin-left: 37px;
  }
}

form input {
  background-color: #e2e2e2;
  border: none;
  box-shadow: inset 0px 3px 0px 0px #dad9d9;
  padding-top: 14px;
  padding-bottom: 10px;
  padding-left: 58px;
  font-weight: 100;
  font-size: 17px;
}
@media screen and (max-width: 767px) {
  form input {
    padding-left: 15px;
    padding-top: 14px;
    padding-bottom: 11px;
    font-size: 18.5px;
  }
}

form input::-webkit-input-placeholder {
  color: #181818;
}

.découvert {
  text-align: center;
  background-color: #f7f5f5;
}
.découvert__heading {
  margin-block-start: 0em;
  margin-block-end: 0.5em;
  padding-top: 35px;
  font-size: 39px;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .découvert__heading {
    font-size: 28px;
    padding-left: 25px;
    padding-right: 25px;
  }
}
.découvert p {
  font-size: 18px;
  font-weight: 100;
}
.découvert button {
  background: linear-gradient(to right, #FF79DA, #9356DC);
  padding: 15px;
  font-size: 18px;
}
@media screen and (max-width: 767px) {
  .découvert button {
    margin-bottom: 50px;
    margin-top: 15px;
  }
}

.steps-section {
  padding-left: 1.1111111111em;
  padding-right: 1.1111111111em;
  padding-top: 2.7777777778em;
  padding-bottom: 1.1111111111em;
}
.steps-section__heading {
  font-size: 39px;
  text-align: center;
  font-weight: 400;
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  .steps-section__heading {
    text-align: left;
    font-size: 26px;
    margin-left: 21px;
  }
}
.steps-section__list {
  margin-top: 1.3888888889em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 2.2222222222em;
  padding-inline-start: 0px;
}
@media screen and (max-width: 767px) {
  .steps-section__list {
    max-width: none;
  }
}
.steps-section__list--item {
  list-style: none;
  width: 100vw;
  max-width: 25em;
  box-shadow: 0.1111111111em 0.2222222222em 0.5555555556em rgba(0, 0, 0, 0.15);
  border-radius: 0.8333333333em;
  background-color: #F6F6F6;
  padding: 1.6666666667em;
  font-weight: bold;
  margin-left: 0.8333333333em;
  position: relative;
  transition: all 0.3s ease-out;
  margin-bottom: 1.6666666667em;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .steps-section__list--item {
    max-width: none;
  }
}
.steps-section__list--item::after {
  content: attr(data-count);
  position: absolute;
  background-color: #9356DC;
  color: #ffffff;
  font-weight: normal;
  left: -0.8333333333em;
  top: 50%;
  transform: translateY(-50%);
  width: 1.6666666667em;
  height: 1.6666666667em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.steps-section__list--item:hover {
  background-color: #F5EDFF;
}
.steps-section__list--item i {
  color: hsl(0deg, 0%, 25%);
  margin-right: 1.1111111111em;
  opacity: 0.75;
  width: 1.1111111111em;
  transition: all 0.3s ease-out;
}
.steps-section__list--item i:hover {
  color: #9356DC;
}

.restaurants {
  background-color: #f7f5f5;
  margin-top: 50px;
}
.restaurants__heading {
  font-size: 39px;
  text-align: center;
  margin-bottom: 35px;
  padding-top: 50px;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  .restaurants__heading {
    text-align: left;
    font-size: 26px;
    margin-left: 21px;
  }
}
.restaurants__list-card {
  max-width: 100%;
  column-count: 2;
  margin-left: 25px;
  margin-right: 25px;
  gap: 25px;
}
@media screen and (max-width: 767px) {
  .restaurants__list-card {
    column-count: 1;
  }
}

.restaurants__list-card .card {
  margin-block-end: 39px;
}
.restaurants__list-card .card .restaurants-card {
  text-decoration: none;
  color: black;
  display: grid;
  grid: "a a" 260px "b c" 1fr/1fr max-content;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 4px 15px 0px rgba(170, 170, 170, 0.452);
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants__list-card .card .restaurants-card {
    grid: "a a" 206px "b c" 1fr/1fr max-content;
  }
}
@media screen and (max-width: 767px) {
  .restaurants__list-card .card .restaurants-card {
    grid: "a a" 173px "b c" 1fr/1fr max-content;
  }
}
.restaurants__list-card .card .restaurants-card img {
  width: 100%;
  height: 100%;
  grid-area: a;
  object-fit: cover;
}
.restaurants__list-card .card .restaurants-card__new {
  grid-area: a;
  place-self: start end;
  margin: 13px;
  padding: 12px 20px;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  color: #2e9178;
  background-color: #99E2D0;
  box-shadow: 5px 5px 15px rgba(170, 170, 170, 0.452);
}
@media screen and (max-width: 767px) {
  .restaurants__list-card .card .restaurants-card__new {
    padding: 8px 16px;
  }
}
.restaurants__list-card .card .restaurants-card__text {
  grid-area: b;
  padding: 16px 20px;
  margin-top: 5px;
  margin-bottom: 5px;
}
@media screen and (max-width: 767px) {
  .restaurants__list-card .card .restaurants-card__text {
    padding: 9px 15px;
  }
}
.restaurants__list-card .card .restaurants-card__text h3 {
  font-size: 27px;
  margin-bottom: 10px;
  margin-top: 6px;
}
@media screen and (max-width: 767px) {
  .restaurants__list-card .card .restaurants-card__text h3 {
    font-size: 19.1px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants__list-card .card .restaurants-card__text h3 {
    font-size: 21px;
  }
}
.restaurants__list-card .card .restaurants-card__text p {
  font-size: 24px;
  font-weight: 100;
  margin-block-start: 0;
  margin-block-end: 0;
}
@media screen and (max-width: 767px) {
  .restaurants__list-card .card .restaurants-card__text p {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .restaurants__list-card .card .restaurants-card__text p {
    font-size: 20px;
  }
}
.restaurants__list-card .card .restaurants-card__like {
  grid-area: c;
  margin: 0 37px 0 0;
}
@media screen and (max-width: 767px) {
  .restaurants__list-card .card .restaurants-card__like {
    margin: 0 28px 0 0;
  }
}

.homepage-footer {
  background-color: #2a2a2a;
  padding-left: 35px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
}
@media screen and (max-width: 767px) {
  .homepage-footer {
    padding-bottom: 25px;
    padding-top: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .homepage-footer {
    background-color: #2a2a2a;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
  }
}
.homepage-footer__heading {
  font-family: "Shrikhand", cursive;
  padding-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .homepage-footer__heading {
    font-size: 25px;
    padding-bottom: 7px;
  }
}
.homepage-footer p {
  font-weight: 400;
  font-size: 26px;
}
@media screen and (max-width: 767px) {
  .homepage-footer p {
    font-size: 15px;
  }
}

@keyframes fadeIn {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
.menu-main {
  margin-bottom: -129px;
}
@media screen and (max-width: 767px) {
  .menu-main {
    margin-bottom: -45px;
  }
}

.menu-header {
  display: flex;
  align-items: center;
}
.menu-header .fa-arrow-left {
  font-size: 20px;
  padding-left: 30px;
  color: black;
}
.menu-header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .menu-header__logo {
    width: 44%;
    height: auto;
    margin-left: 57px;
  }
}

.top-image img {
  width: 100%;
}

.menu {
  background-color: #f7f5f5;
  border-radius: 25px 25px 0 0;
  position: relative;
  top: -130px;
  padding: 12px 13px 50px 13px;
}
@media screen and (max-width: 767px) {
  .menu {
    top: -45px;
    padding: 12px 13px 61px 13px;
  }
}
.menu__heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .menu__heading {
    justify-content: flex-start;
  }
}
.menu__heading h2 {
  font-family: "Shrikhand", cursive;
  font-size: 45px;
}
@media screen and (max-width: 767px) {
  .menu__heading h2 {
    font-size: 26px;
    margin-left: 5px;
  }
}
.menu__lists {
  display: flex;
  justify-content: space-evenly;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu__lists {
    flex-direction: column;
    row-gap: 1em;
  }
}
@media screen and (max-width: 767px) {
  .menu__lists {
    flex-direction: column;
    row-gap: 1em;
  }
}
.menu__lists--choice {
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 23px 0px 10px;
  column-gap: 3.1em;
  margin-bottom: 10px;
  box-shadow: 5px 5px 6px #e2e2e2;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  animation: fadeIn 900ms ease-in-out both;
}
.menu__lists--choice--1 {
  animation-delay: 200ms;
}
.menu__lists--choice--2 {
  animation-delay: 400ms;
}
.menu__lists--choice--3 {
  animation-delay: 600ms;
}
.menu__lists--choice:hover .choice__add-btn {
  transform: translate(0%);
}
.menu__lists--choice:hover .choice__add-btn i {
  transform: rotate(0deg);
}
.menu__lists--choice:hover .choice-name {
  width: 55%;
}
.menu__lists--choice:hover .choice-price {
  transform: translate(-250%);
}
@media screen and (max-width: 767px) {
  .menu__lists--choice {
    column-gap: 0;
    margin-bottom: 15px;
  }
  .menu__lists--choice:active .choice__add-btn {
    transform: translate(0%);
  }
  .menu__lists--choice:active .choice__add-btn i {
    transform: rotate(0deg);
  }
  .menu__lists--choice:active .choice-name {
    width: 55%;
  }
  .menu__lists--choice:active .choice-price {
    transform: translate(-250%);
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu__lists--choice:active .choice__add-btn {
    transform: translate(0%);
  }
  .menu__lists--choice:active .choice__add-btn i {
    transform: rotate(0deg);
  }
  .menu__lists--choice:active .choice-name {
    width: 55%;
  }
  .menu__lists--choice:active .choice-price {
    transform: translate(-250%);
  }
}
.menu__lists--choice .choice-name {
  display: inline-block;
  white-space: nowrap;
  transition: all 300ms ease-out;
}
.menu__lists--choice .choice-name__title {
  font-size: 18.5px;
  margin-top: 14px;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu__lists--choice .choice-name__title {
    font-size: 27px;
  }
}
.menu__lists--choice .choice-name__accompagnement {
  font-weight: 300;
  margin-top: 7px;
  margin-bottom: 13px;
  font-size: 15.2px;
  overflow: hidden;
  text-overflow: ellipsis;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu__lists--choice .choice-name__accompagnement {
    font-size: 22px;
  }
}
.menu__lists--choice .choice-price {
  font-weight: 900;
  font-size: 16px;
  transform: translate(0);
  transition: all 300ms ease-out;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu__lists--choice .choice-price {
    font-size: 22px;
  }
}
.menu__lists--choice .choice__add-btn {
  min-width: 20%;
  height: 100%;
  background-color: #99E2D0;
  font-size: 22px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  right: 0px;
  transform: translate(100%);
  transition: all 300ms ease-out;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu__lists--choice .choice__add-btn {
    min-width: 11%;
  }
}
.menu__lists--choice .choice__add-btn i {
  transform: rotate(-360deg);
  transition: all 300ms ease-out;
}
.menu__lists h3 {
  font-weight: 300;
  font-size: 18.5px;
  margin-left: 5px;
}
.menu__lists h3::after {
  content: "";
  display: block;
  width: 17%;
  margin-top: 5px;
  border-top: 3px solid #99E2D0;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu__lists h3 {
    font-size: 23px;
  }
  .menu__lists h3::after {
    width: 8%;
  }
}
@media screen and (max-width: 767px) {
  .menu__lists h3 {
    font-size: 16.2px;
  }
  .menu__lists h3::after {
    width: 12%;
  }
}
.menu button {
  background: linear-gradient(to bottom, #FF79DA, #9356DC);
  padding: 15px 52px;
  font-size: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 43px;
}
@media screen and (max-width: 767px) {
  .menu button {
    margin-top: 37px;
    font-size: 17px;
  }
}

.menu-footer {
  background-color: #2a2a2a;
  padding-left: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .menu-footer {
    padding-bottom: 25px;
    padding-top: 15px;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .menu-footer {
    background-color: #2a2a2a;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;
  }
}
.menu-footer__heading {
  font-family: "Shrikhand", cursive;
}
@media screen and (max-width: 767px) {
  .menu-footer__heading {
    font-size: 20px;
    padding-bottom: 7px;
  }
}
.menu-footer p {
  font-weight: 300;
  font-size: 26px;
}
@media screen and (max-width: 767px) {
  .menu-footer p {
    font-size: 17px;
  }
}

.heart-francaise {
  position: relative;
  top: -2px;
  left: 21px;
  font-size: 39px;
}
@media screen and (max-width: 767px) {
  .heart-francaise {
    font-size: 26px;
    left: 115px;
  }
}

.heart-enchantee {
  position: relative;
  top: -2px;
  left: 21px;
  font-size: 39px;
}
@media screen and (max-width: 767px) {
  .heart-enchantee {
    font-size: 26px;
    left: 53px;
  }
}

.enchantee-top-image {
  height: 836px;
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .enchantee-top-image {
    height: 437px;
  }
}
@media screen and (max-width: 767px) {
  .enchantee-top-image {
    height: 290px;
  }
}
.enchantee-top-image img {
  object-fit: cover;
  height: 100%;
}
@media screen and (max-width: 767px) {
  .enchantee-top-image img {
    width: 100%;
  }
}

.heart-palette {
  position: relative;
  top: -2px;
  left: 21px;
  font-size: 39px;
}
@media screen and (max-width: 767px) {
  .heart-palette {
    font-size: 26px;
    left: 59px;
  }
}

.heart-delice {
  position: relative;
  top: -2px;
  left: 21px;
  font-size: 39px;
}
@media screen and (max-width: 767px) {
  .heart-delice {
    font-size: 26px;
    left: 64px;
  }
}

/*# sourceMappingURL=styles.css.map */
