@keyframes hideLoader {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes loading {
    from {
        transform: rotate(0turn);
    }

    to {
        transform: rotate(1turn);
    }
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 999;

    &::after {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        width: 75px;
        height: 75px;
        border: 15px solid $lightgrey;
        border-top-color: $colorprimary;
        border-radius: 50%;
        animation: loading $loading-duration ease;
    }

    & {
        animation: hideLoader 0.15s $loading-duration forwards;
    }
}

.header__logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;

    @include mobile-only {
        width: 50%;
        height: auto;
        margin-top: 25px;
        margin-bottom: 19px;
    }
}

.localisation {
    text-align: center;
    background-color: $darkergrey;
    box-shadow: inset 0px 3px 0px 0px #dad9d9;
}

.fa-map-marker-alt {
    border: none;
    background-color: $darkergrey;
    color: $darkergrey;

    @include mobile-only {
        color: $colorfooter;
    }
}

form {
    @include mobile-only {
        display: block;
        margin-left: 37px;
    }
}

form input {
    background-color: $darkergrey;
    border: none;
    box-shadow: inset 0px 3px 0px 0px #dad9d9;
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 58px;
    font-weight: 100;
    font-size: 17px;

    @include mobile-only {
        padding-left: 15px;
        padding-top: 14px;
        padding-bottom: 11px;
        font-size: 18.5px;
    }
}

form input::-webkit-input-placeholder {
    color: #181818;
}

.découvert {
    text-align: center;
    background-color: $lightgrey;

    &__heading {
        margin-block-start: 0em;
        margin-block-end: 0.5em;
        padding-top: 35px;
        font-size: 39px;
        font-weight: 400;

        @include mobile-only {
            font-size: 28px;
            padding-left: 25px;
            padding-right: 25px;
        }
    }

    & p {
        font-size: 18px;
        font-weight: 100;
    }

    & button {
        background: linear-gradient(to right, $colorsecondary, $colorprimary);
        padding: 15px;
        font-size: 18px;

        @include mobile-only {
            margin-bottom: 50px;
            margin-top: 15px;
        }
    }
}

.steps-section {
    padding-left: 1.1111111111em;
    padding-right: 1.1111111111em;
    padding-top: 2.7777777778em;
    padding-bottom: 1.1111111111em;

    &__heading {
        font-size: 39px;
        text-align: center;
        font-weight: 400;
        margin-top: 50px;

        @include mobile-only {
            text-align: left;
            font-size: 26px;
            margin-left: 21px;
        }
    }

    &__list {
        margin-top: 1.3888888889em;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 2.2222222222em;
        padding-inline-start: 0px;

        @include mobile-only {
            max-width: none;
            
        }

        &--item {
            list-style: none;
            width: 100vw;
            max-width: 25em;
            box-shadow: 0.1111111111em 0.2222222222em 0.5555555556em rgba(0, 0, 0, 0.15);
            border-radius: 0.8333333333em;
            background-color: #F6F6F6;
            padding: 1.6666666667em;
            font-weight: bold;
            margin-left: 0.8333333333em;
            position: relative;
            transition: all 0.3s ease-out;
            margin-bottom: 1.6666666667em;
            cursor: pointer;

            @include mobile-only {
                max-width: none;
            }

            &::after {
                content: attr(data-count);
                position: absolute;
                background-color: #9356DC;
                color: #ffffff;
                font-weight: normal;
                left: -0.8333333333em;
                top: 50%;
                transform: translateY(-50%);
                width: 1.6666666667em;
                height: 1.6666666667em;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
            }

            &:hover {
                background-color: #F5EDFF;
                transition: all 0.3s ease-out;
            }
            
            & i {
                color: hsl(0deg, 0%, 25%);
                margin-right: 1.1111111111em;
                opacity: 0.75;
                width: 1.1111111111em;
                transition: all 0.3s ease-out;

                &:hover {
                color: #9356DC;
                transition: all 0.3s ease-out;
                }
            }
        }
    }
}

.restaurants {
    background-color: $lightgrey;
    margin-top: 50px;


    &__heading {
        font-size: 39px;
        text-align: center;
        margin-bottom: 35px;
        padding-top: 50px;
        font-weight: 400;

        @include mobile-only {
            text-align: left;
            font-size: 26px;
            margin-left: 21px;
        }
    }

    &__list-card {
        max-width: 100%;
        column-count: 2;
        margin-left: 25px;
        margin-right: 25px;
        gap: 25px;

        @include mobile-only {
            column-count: 1;
        }
    }
}

.restaurants__list-card .card {
    margin-block-end: 39px;

    & .restaurants-card {
        text-decoration: none;
        color: black;
        display: grid;
        grid: "a a" 260px "b c" 1fr / 1fr max-content;
        align-items: center;

        border-radius: 20px;
        overflow: hidden;
        box-shadow: 0px 4px 15px 0px rgba(170, 170, 170, 0.452);

        @include tablet-only {
            grid: "a a" 206px "b c" 1fr / 1fr max-content;
        }

        @include mobile-only {
            grid: "a a" 173px "b c" 1fr / 1fr max-content;
        }

        & img {
            width: 100%;
            height: 100%;
            grid-area: a;
            object-fit: cover;
        }

        &__new {
            grid-area: a;
            place-self: start end;
            margin: 13px;
            padding: 12px 20px;
            border-radius: 3px;
            font-size: 14px;
            font-weight: 500;
            color: #2e9178;
            background-color: $colortertiary;
            box-shadow: 5px 5px 15px rgba(170, 170, 170, 0.452); /* 0px 2px 4px 0px #00000026*/

            @include mobile-only {
                padding: 8px 16px;
            }
        }

        &__text {
            grid-area: b;
            padding: 16px 20px;
            margin-top: 5px;
            margin-bottom: 5px;

            @include mobile-only {
                padding: 9px 15px;
            }

            & h3 {
                font-size: 27px;
                margin-bottom: 10px;
                margin-top: 6px;
        
                @include mobile-only {
                    font-size: 19.1px;
                }
        
                @include tablet-only {
                    font-size: 21px;
                }
            }
        
            & p {
                font-size: 24px;
                font-weight: 100;
                margin-block-start: 0;
                margin-block-end: 0;
        
                @include mobile-only {
                    font-size: 18px;
                }
        
                @include tablet-only {
                    font-size: 20px;
                }
            }
        }

        &__like {
            grid-area: c;
            margin: 0 37px 0 0;

            @include mobile-only {
                margin: 0 28px 0 0;
            }
        } 
    }
}

.homepage-footer {
    background-color: $colorfooter;
    padding-left: 35px;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #ffffff;

    @include mobile-only {
        padding-bottom: 25px;
        padding-top: 15px;
    }

    @include tablet-only {
        background-color: $colorfooter;
        padding-left: 35px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #ffffff;
    }

    &__heading {
        font-family: 'Shrikhand', cursive;
        padding-bottom: 20px;

        @include mobile-only {
            font-size: 25px;
            padding-bottom: 7px;
        }
    }

    & p {
        font-weight: 400;
        font-size: 26px;
        
        @include mobile-only {
            font-size: 15px;
        }
    }
}